---
- name: Create hostname.if(5)
  template:
    src: hostname.if.j2
    dest: "/etc/hostname.{{ item.name }}"
    mode: 0640
  with_items: "{{ virtual_interfaces }}"
  register: register_hostname_if

- name: Apply hostname.if(5) change
  # XXX when configuration of an interface changes and a daemon, such as ospfd,
  # relies on it, the daemon should be restarted. however, there is no sane way
  # to 'subscribe' to a reasource in ansble 2.1.x. as a result, the daemon must
  # be manually restarted.
  #
  # ansible 2.2 is expected to support 'listen' keyword:
  # https://github.com/ansible/proposals/issues/11
  script: "files/apply_hostname_if.sh {{ item.item.name }}"
  when: "{{ item.changed }}"
  with_items: "{{ register_hostname_if.results }}"

- name: Make sure the changed interfaces do exist
  command: "ifconfig {{ item.item.name }}"
  #
  # XXX it is hard to make sure the configuration for each interface is valid
  # or correct. writing a parser for possible virtual interfaces, anyone?
  when: "{{ item.changed }}"
  with_items: "{{ register_hostname_if.results }}"
  changed_when: false
